<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<!-- Start Navbar Area -->
<div class="navbar-area" th:fragment="navbar">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                    <a th:href="@{/}">
                        <img src="assets/img/logo.png" th:src="@{/assets/img/logo.png}" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-navbar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" th:href="@{/}">
                    <img src="assets/img/logo.png" th:src="@{/assets/img/logo.png}" alt="image">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:href="@{/}" class="nav-link active">
                                首 页
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                发 现
                                <i class='bx bx-chevron-down'></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a th:href="@{/details}" class="nav-link">
                                        详细信息
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/material}" class="nav-link">
                                        材料信息
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/spot}" class="nav-link">
                                        人脸识别
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/loan-detail}" class="nav-link">
                                        贷款详情
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/contact}" class="nav-link">
                                        留言
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/message-details}" class="nav-link">
                                        留言详情
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{/signUp}" class="nav-link">
                                        注 册
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="gallery.html" class="nav-link">
                                        Gallery
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="testimonials.html" class="nav-link">
                                        Testimonials
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Projects
                                        <i class='bx bx-chevron-down'></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="projects.html" class="nav-link">
                                                Projects
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="terms-condition.html" class="nav-link">
                                        Terms & Conditions
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="privacy-policy.html" class="nav-link">
                                        Privacy Policy
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="error-404.html" class="nav-link">
                                        Error Page
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                服务
                                <i class='bx bx-chevron-down'></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a th:href="@{loan-calculator}" class="nav-link">
                                       贷款计算器
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="services.html" class="nav-link">
                                        Services
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="services-details.html" class="nav-link">
                                        Services Details
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="funding.html" class="nav-link">
                                Funding
                            </a>
                        </li>

                        <li class="nav-item">
                            <a th:href="@{/loans}" class="nav-link">
                                Loans
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                News
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="news.html" class="nav-link">
                                        News Grid
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="news-details.html" class="nav-link">
                                        News Details
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a th:href="@{/signIn}" class="nav-link">
                                登 录
                            </a>
                        </li>
                    </ul>

                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <i class="search-btn flaticon-magnifying-glass"></i>
                            <i class="close-btn flaticon-close"></i>
                            <div class="search-overlay search-popup">
                                <div class='search-box'>
                                    <form class="search-form">
                                        <input class="search-input" name="search" placeholder="Search" type="text">

                                        <button class="search-button" type="submit">
                                            <i class="flaticon-magnifying-glass"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="option-item">
                            <div class="info">
                                <i class="flaticon-telephone"></i>
                                <span>Call Now</span>
                                <p>
                                    <a href="tel:1514312-5678">+1 (514) 312-5678</a>
                                </p>
                            </div>
                        </div>

                        <div class="option-item">
                            <a th:href="@{/apply-now}" class="default-btn">
                                立即申请
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
</html>
