<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::links},~{})">
    <title>立即申请</title>
</head>

<body>
    <!--引入navbar-->
    <div th:include="common/navbar :: navbar"></div>
    <!--提示框start-->
    <div class="alert alert-dismissable alert-info" id="my_alert" style="display: none;">
        <button type="button" class="close" onclick="$('#my_alert').hide();">×</button>
        <strong>提醒：</strong> <span id="alertText">内容</span>
        请及时查看
    </div>
    <!--提示框end-->
    <br/>
    <!-- 步骤条star -->
    <div class="steps">
        <div class="step last-sucess">
            <div class="step-head">
                <div class="step-line"></div>
                <div class="step-icon">1</div>
            </div>
            <div class="step-main">提交申请</div>
        </div>
        <div class="step">
            <div class="step-head">
                <div class="step-line"></div>
                <div class="step-icon">2</div>
            </div>
            <div class="step-main">上传材料</div>
        </div>
        <div class="step">
            <div class="step-head">
                <div class="step-icon">3</div>
            </div>
            <div class="step-main">申请结果</div>
        </div>
    </div>
    <!-- 步骤条end -->

        <!-- Start Apply Area -->
        <section class="apply-area ptb-100">
            <div class="container">
                <span id="message" style="color: #ff0000">请认真填写，提交后不可修改</span>
                <form onsubmit="return check()" id="formLoanApply">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="apply-form">
                                <div class="form-group">
                                    <label>银行</label>
                                    <select class="form-control" id="bankSelect">
                                        <option value="">--请选择银行--</option>
                                        <option th:each="bank:${bankList}" th:value="${bank.bankNo}"
                                                th:selected="${loanInfo?.bankNo} == ${bank.bankNo}">
                                            [[${bank.bankName}]]
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>收款账户</label>
                                    <input name="bankNumber" id="bankNumber" type="text" class="form-control"
                                           th:value="${loanInfo?.bankNumber}">
                                </div>

                                <div class="form-group">
                                    <label>开户行</label>
                                    <input name="bankType" id="bankType" type="text" class="form-control"
                                           th:value="${loanInfo?.bankType}">
                                </div>

                                <div class="form-group">
                                    <label>贷款金额</label>
                                    <input name="amount" id="amount" type="text" class="form-control"
                                           th:value="${loanInfo?.amount}">
                                </div>

                                <div class="form-group">
                                    <label>贷款用途</label>
                                    <select class="form-control" id="purpose">
                                        <option value="">--请选择贷款用途--</option>
                                        <option th:value="1" th:selected="${loanInfo?.purpose} == 1">个人消费贷款</option>
                                        <option th:value="2" th:selected="${loanInfo?.purpose} == 2">经营贷款</option>
                                        <option th:value="3" th:selected="${loanInfo?.purpose} == 3">按揭贷款</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>贷款期限（月（1-360））</label>
                                    <input name="period" id="period" type="text" class="form-control"
                                           th:value="${loanInfo?.period}">
                                </div>

                                <div class="form-group">
                                    <label>还款方式</label>
                                    <select class="form-control" id="returnMethod">
                                        <option value="">--请选择还款方式--</option>
                                        <option th:value="1" th:selected="${loanInfo?.returnMethod} == 1">等额本息</option>
                                        <option th:value="2" th:selected="${loanInfo?.returnMethod} == 2">等额本金</option>
                                        <option th:value="3" th:selected="${loanInfo?.returnMethod} == 3">每月还息</option>
                                        <option th:value="4" th:selected="${loanInfo?.returnMethod} == 4">一次性还</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <span id="checkSpan" style="color: #ff0000"></span>
                                </div>

                                <div class="form-group">
                                    <input id="button" type="submit" class="default-btn" value="提 交">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <button onclick="location.href=('/material')" type="button" class="btn btn-primary">下一步</button>

            </div>
        </section>
        <!-- End Apply Area -->

        <!-- Start Footer Area -->
        <section class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <a href="#">
                                    <img src="assets/img/logo2.png" alt="image">
                                </a>
                            </div>
                            <p>我今天做核酸了,什么酸,得不到你的心酸.</p>
                            <ul class="social">
                                <li>
                                    <b>联系我们:</b>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Quick Links</h3>

                            <ul class="quick-links">
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="#">Our Performance</a>
                                </li>
                                <li>
                                    <a href="faq.html">Help (FAQ)</a>
                                </li>
                                <li>
                                    <a href="news.html">Blog</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Other Resources</h3>

                            <ul class="quick-links">
                                <li>
                                    <a href="#">Support</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-condition.html">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="#">Business Loans</a>
                                </li>
                                <li>
                                    <a href="#">Loan Services</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>联系我们</h3>

                            <div class="info-contact">
                                <i class="flaticon-pin"></i>
                                <span>苍盐海大街250号</span>
                            </div>

                            <div class="info-contact">
                                <i class="flaticon-mail"></i>
                                <span>
                                    <a href="mailto:Cyh@finix.com">Cyh@finix.com</a>
                                </span>
                            </div>

                            <div class="info-contact">
                                <i class="flaticon-telephone"></i>
                                <span>
                                    <a href="tel:2504312-6688">+1 (250) 312-5678</a>
                                </span>
                                <span>
                                    <a href="tel:2504312-6688">+1 (250) 312-6688</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer Area -->

        <!-- Start Copy Right Area -->
        <div class="copy-right-area">
            <div class="container">
                <div class="copy-right-content">
                    <p>
                        &copy;版权和副本:2022苍盐海 版权所有.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!--弹框start-->
        <div class="modal fade" id="MyModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
             data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">提示</h4>
                        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                    </div>
                    <div class="modal-body">
                        <p id="ModalContext">内容</p>
                    </div>
                    <div class="modal-footer">
                        <button onclick="location.reload()" type="button" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <!--弹框end-->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='bx bx-chevron-up'></i>
        </div>
        <!-- End Go Top Area -->


    <!-- Jquery Slim JS -->
    <script src="assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
    <!-- Popper JS -->
    <script src="assets/js/popper.min.js" th:src="@{/assets/js/popper.min.js}"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Meanmenu JS -->
    <script src="assets/js/jquery.meanmenu.js" th:src="@{/assets/js/jquery.meanmenu.js}"></script>
    <!-- Carousel JS -->
    <script src="assets/js/owl.carousel.min.js" th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <!-- Nice Select JS -->
    <script src="assets/js/jquery.nice-select.min.js" th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
    <!-- Magnific Popup JS -->
    <script src="assets/js/jquery.magnific-popup.min.js" th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
    <!-- Odometer JS -->
    <script src="assets/js/odometer.min.js" th:src="@{/assets/js/odometer.min.js}"></script>
    <!-- Appear JS -->
    <script src="assets/js/jquery.appear.js" th:src="@{/assets/js/jquery.appear.js}"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="assets/js/jquery.ajaxchimp.min.js" th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
    <!-- Form Validator JS -->
    <script src="assets/js/form-validator.min.js" th:src="@{/assets/js/form-validator.min.js}"></script>
    <!-- Contact JS -->
    <script src="assets/js/contact-form-script.js" th:src="@{/assets/js/contact-form-script.js}"></script>
    <!-- Wow JS -->
    <script src="assets/js/wow.min.js" th:src="@{/assets/js/wow.min.js}"></script>
    <!-- Custom JS -->
    <script src="assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
    <!--websocket-->
    <script th:src="@{/js/websocket.js}" src="js/websocket.js"></script>
    </body>
</html>
<script>
    $(function () {
        //判断贷款审核状态
        $.ajax({
            url:'/loan-info/status',
            type:'get',
            success:function (res) {
                switch (res) {
                    case -2:
                        $("#message").html('请登录后再进行操作');
                        setTimeout(function() { location.reload(); }, 1000 );
                        break;
                    case -3:
                        //返回-3 对应用户无未完成贷款 提交材料
                        able();
                        $("#message").html('请提交材料');
                        break;
                    case 2:
                        disable();
                        $("#message").html('审核通过，等待放款');
                        $("#checkSpan").html('审核通过，不可修改');
                        break;
                    case 5:
                        disable();
                        $("#message").html('已放款');
                        $("#checkSpan").html('已放款，不可修改');
                        break;
                    case -1:
                        able();
                        $("#message").html('审核未通过，请重新提交审核');
                        break;
                    default:
                        //0 1 3 4 均为审核中
                        disable();
                        $("#message").html('审核中，请耐心等待');
                        $("#checkSpan").html('审核中，不可修改');
                        break;
                }
            }
        })
    })
    function check(){
        let bank = $("#bankSelect").val()
        let bankNumber = $("#bankNumber").val()
        let bankType = $("#bankType").val()
        let amount = $("#amount").val()
        let purpose = $("#purpose").val()
        let period = $("#period").val()
        let returnMethod = $("#returnMethod").val()

        let message = $("#message").text()

        if(bank=='' || bankNumber=='' || bankType=='' || amount=='' || purpose=='' || period=='' || returnMethod==''){
            $("#checkSpan").html('以上字段都不能为空');
            return false;
        }else {
            $("#checkSpan").html('');
        }

        if (message == '请提交材料'){
            $.ajax({
                url:"/loan-info/add",
                type:'post',
                data: {
                    "bankNo":bank,
                    "bankNumber":bankNumber,
                    "bankType":bankType,
                    "amount":amount,
                    "purpose":purpose,
                    "period":period,
                    "returnMethod":returnMethod
                },
                success:function (res){
                    if(res){
                        $("#ModalContext").html('申请成功，等待审核，请继续完善贷款材料')
                        $("#MyModal").modal('show')
                    }
                }
            })
        }
        if (message == '审核未通过，请重新提交审核'){
            $.ajax({
                url:"/loan-info/modify",
                type:'post',
                data: {
                    "bankNo":bank,
                    "bankNumber":bankNumber,
                    "bankType":bankType,
                    "amount":amount,
                    "purpose":purpose,
                    "period":period,
                    "returnMethod":returnMethod
                },
                success:function (res){
                    if(res){
                        $("#ModalContext").html('修改成功，等待审核，请继续完善贷款材料')
                        $("#MyModal").modal('show')
                    }
                }
            })
        }
        return false;
    }
    //!*修改样式 禁用*!/
    function disable() {
        $("#bankSelect").attr("disabled","disabled");
        $('#bankSelect').niceSelect('update');
        $("#bankNumber").attr("disabled","disabled");
        $("#bankType").attr("disabled","disabled");
        $("#amount").attr("disabled","disabled");
        $("#purpose").attr("disabled","disabled");
        $("#period").attr("disabled","disabled");
        $("#returnMethod").attr("disabled","disabled");
        $('#returnMethod').niceSelect('update');
        $("#button").attr("disabled","disabled");
        $("#button").css("background-color","#cfcfcf");
    }
    //!*修改样式 可用*!/
    function able() {
        $("#bankSelect").removeAttr("disabled");
        $('#bankSelect').niceSelect('update');
        $("#bankNumber").removeAttr("disabled");
        $("#bankType").removeAttr("disabled");
        $("#amount").removeAttr("disabled");
        $("#purpose").removeAttr("disabled");
        $("#period").removeAttr("disabled");
        $("#returnMethod").removeAttr("disabled");
        $('#returnMethod').niceSelect('update');
        $("#button").removeAttr("disabled");
        $("#button").css("background-color","red");
    }

    /*显示提示*/
    function show(message) {
        $("#alertText").html(message)
        $("#my_alert").css("display","block");
    }
    /*websocket*/
    websocket.onmessage = function (event) {
        console.log('收到消息')
        console.log(event.data)
        show(event.data)
    }
</script>
