<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="common/head :: common_header(~{::title},~{::links},~{})">
    <title>用户详请</title>
</head>

<body>
<!--引入navbar-->
<div th:include="common/navbar :: navbar"></div>

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>企业信息认证</h2>
                    <ul>
                        <li><a th:href="@{/index.html}" href="index.html">首页</a></li>
                        <li>企业信息认证</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Apply Area -->
<section class="apply-area ptb-100">
    <div class="container">
        <div class="apply-title">
            <h3 id="message" style="color: red">请完善相关信息</h3>
        </div>

        <form onsubmit="return check()" id="formRegister"  enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6">
                    <div class="apply-form">
                        <div class="form-group">
                            <label>企业类型</label>
                            <div class="select-box">
                                <select class="form-control" id="type">
                                    <option ></option>
                                    <option th:value="1" th:selected="${detail?.type eq 1}">合伙企业</option>
                                    <option th:value="2" th:selected="${detail?.type eq 2}">有限责任公司</option>
                                    <option th:value="0" th:selected="${detail?.type eq 0}">独资企业</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label >法人姓名</label>
                            <input id="legalName" name="legalName" type="text" class="form-control"
                                   th:value="${detail?.legalName}">
                        </div>

                        <div class="form-group">
                            <label>法人证件号</label>
                            <input id="legalId" name="legalId" type="text" class="form-control"
                                   th:value="${detail?.legalId}">
                        </div>

                        <div class="form-group">
                            <label>省份</label>
                            <select class="form-control" id="select_address_province">
                                <option value="">--请选择省份--</option>
                                <option th:each="province:${provinceList}" th:value="${province.addressAreaId}" th:selected="${detail?.province} == ${province.addressAreaId}">
                                        [[${province.addressName}]]
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>所在市</label>
                            <select class="form-control" id="select_address_city">
                                <option value="">--请选择所在市--</option>
                                <option th:each="city:${cityList}" th:value="${city.addressAreaId}" th:selected="${detail?.city} == ${city.addressAreaId}">
                                    [[${city.addressName}]]
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>所在区</label>
                            <select class="form-control" id="select_address_area">
                                <option value="">--请选择所在区--</option>
                                <option th:each="area:${areaList}" th:value="${area.addressAreaId}" th:selected="${detail?.area} == ${area.addressAreaId}">
                                    [[${area.addressName}]]
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>企业详细地址</label>
                            <input id="address" name="address" type="text" class="form-control"
                                   th:value="${detail?.address}">
                        </div>

                        <div class="form-group">
                            <label>经营范围</label>
                            <input id="scope" name="scope" type="text" class="form-control"
                                   th:value="${detail?.scope}">
                        </div>

                        <div class="form-group">
                            <label>企业信誉度</label>
                            <input id="credit" name="credit" type="text" class="form-control"
                                   th:value="${detail?.credit}">
                        </div>

                        <div class="form-group">
                            <label>营业执照</label> </br>
                            <input type="file" class="form-control" id="license" placeholder="添加图片" onchange="showPreview(this)">
                            <img src="" style="" id="addimg"><br>
                            <img id="show" th:if="${detail}!=null" th:src="@{|/images/license/${detail?.license}|}"><br>
                        </div>
                        <div class="form-group">
                            <label>营业执照有效期</label>
                            <input id="licTime" name="licTime" type="date" class="form-control" required="required"
                                   th:value="${#dates.format(detail?.licTime,'yyyy-MM-dd')}">
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <span id="checkSpan" style="color: #ff0000"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input id="button" type="submit" class="default-btn" value="提 交">
                        </div>

                    </div>

                </div>
            </div>
        </form>
       </div>

</section>
<!-- End Apply Area -->

<!-- Start Footer Area -->
<section class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a th:href="@{/}" href="#">
                            <img th:src="@{/assets/img/logo2.png}" src="assets/img/logo2.png" alt="image">
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                    <ul class="social">
                        <li>
                            <b>Follow us:</b>
                        </li>

                        <li>
                            <a th:href="@{/}" href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/}" href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/}" href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/}" href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Quick Links</h3>

                    <ul class="quick-links">
                        <li>
                            <a th:href="@{/about.html}" href="about.html">About</a>
                        </li>
                        <li>
                            <a th:href="@{/}" href="#">Our Performance</a>
                        </li>
                        <li>
                            <a th:href="@{/faq.html}" href="faq.html">Help (FAQ)</a>
                        </li>
                        <li>
                            <a th:href="@{/news.html}" href="news.html">Blog</a>
                        </li>
                        <li>
                            <a th:href="@{/contact.html}" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Other Resources</h3>

                    <ul class="quick-links">
                        <li>
                            <a th:href="@{/}" href="#">Support</a>
                        </li>
                        <li>
                            <a th:href="@{/privacy-policy.html}" href="privacy-policy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a th:href="@{/terms-condition.html}" href="terms-condition.html">Terms of Service</a>
                        </li>
                        <li>
                            <a th:href="@{/}" href="#">Business Loans</a>
                        </li>
                        <li>
                            <a th:href="@{/}" href="#">Loan Services</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact Us</h3>

                    <div class="info-contact">
                        <i class="flaticon-pin"></i>
                        <span>6890 Blvd, The Bronx, NY 1058 New York, USA</span>
                    </div>

                    <div class="info-contact">
                        <i class="flaticon-mail"></i>
                        <span>
                                    <a href="mailto:hello@finix.com">hello@finix.com</a>
                                </span>
                        <span>
                                    <a th:href="@{/}" href="#">Skype: example</a>
                                </span>
                    </div>

                    <div class="info-contact">
                        <i class="flaticon-telephone"></i>
                        <span>
                                    <a th:href="@{/tel:1514312-6688}" href="tel:1514312-6688">+1 (514) 312-5678</a>
                                </span>
                        <span>
                                    <a th:href="@{/tel:1514312-6688}" href="tel:1514312-6688">+1 (514) 312-6688</a>
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-content">
            <p>
                Copyright &copy; 2020.Company name All rights reserved.<a target="_blank"
                                                                          th:href="@{/http://sc.chinaz.com/moban/}"
                                                                          href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
    </div>
</div>
<!-- End Copy Right Area -->

<!-- Start Go Top Area -->
<div class="go-top">
    <i class='bx bx-chevron-up'></i>
</div>
<!-- End Go Top Area -->

<!--弹框start-->
<div class="modal fade" id="MyModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
            </div>
            <div class="modal-body">
                <p id="ModalContext">内容</p>
            </div>
            <div class="modal-footer">
                <button onclick="location.reload()" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<!--弹框end-->
<!-- Jquery Slim JS -->
<script th:src="@{/assets/js/jquery.min.js}" src="assets/js/jquery.min.js"></script>
<!-- Popper JS -->
<script th:src="@{/assets/js/popper.min.js}" src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script th:src="@{/assets/js/bootstrap.min.js}" src="assets/js/bootstrap.min.js"></script>
<!-- Meanmenu JS -->
<script th:src="@{/assets/js/jquery.meanmenu.js}" src="assets/js/jquery.meanmenu.js"></script>
<!-- Carousel JS -->
<script th:src="@{/assets/js/owl.carousel.min.js}" src="assets/js/owl.carousel.min.js"></script>
<!-- Nice Select JS -->
<script th:src="@{/assets/js/jquery.nice-select.min.js}" src="assets/js/jquery.nice-select.min.js"></script>
<!-- Magnific Popup JS -->
<script th:src="@{/assets/js/jquery.magnific-popup.min.js}" src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Odometer JS -->
<script th:src="@{/assets/js/odometer.min.js}" src="assets/js/odometer.min.js"></script>
<!-- Appear JS -->
<script th:src="@{/assets/js/jquery.appear.js}" src="assets/js/jquery.appear.js"></script>
<!-- Form Ajaxchimp JS -->
<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}" src="assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script th:src="@{/assets/js/form-validator.min.js}" src="assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script th:src="@{/assets/js/contact-form-script.js}" src="assets/js/contact-form-script.js"></script>
<!-- Wow JS -->
<script th:src="@{/assets/js/wow.min.js}" src="assets/js/wow.min.js"></script>
<!-- Custom JS -->
<script th:src="@{/assets/js/main.js}" src="assets/js/main.js"></script>
</body>
</html>
<script>
    $(function () {
        //判断用户认证状态
        $.ajax({
            url:'/company/checkAuthStatus',
            type:'get',
            success:function (res) {
                console.log(res)
                switch (res) {
                    case -2:
                        $("#message").html('请登录后再进行操作');
                        setTimeout(function() { location.reload(); }, 1000 );
                        break;
                    case 1:
                        disable();
                        $("#message").html('认证信息审核中，请耐心等待');
                        $("#checkSpan").html('认证信息审核中，不可修改');
                        break;
                    case 2:
                        disable();
                        $("#message").html('认证通过');
                        $("#checkSpan").html('认证通过，不可修改');
                        break;
                    case -1:
                        able();
                        $("#message").html('认证失败，请重新认证');
                        break;
                    default:
                        able();
                        $("#message").html('请认证身份');
                        break;
                }
            }
        })
    })
    /*非空判断 提交表单*/
    function check() {
        $("#checkSpan").html('');
        let message = $("#message").text()

        let formData=new FormData;
        let type = $("#type").val()
        let legalName = $("#legalName").val()
        let legalId = $("#legalId").val()
        let province = $("#select_address_province").val()
        let city = $("#select_address_city").val()
        let area = $("#select_address_area").val()
        let address = $("#address").val()
        let scope = $("#scope").val()
        let credit = $("#credit").val()
        let licTime = $("#licTime").val()
        let expression = /^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/
        let license = $("#license").val()
        let file = null;
        if (license!=""){
            file = $("#license")[0].files[0];
        }

        if (type==""){
            $("#checkSpan").html('企业类型不能为空');
            return false;
        }
        if (legalName==""){
            $("#checkSpan").html('法人不能为空');
            return false;
        }
        if (legalId==""){
            $("#checkSpan").html('证件号不能为空');
            return false;
        }
        if (!expression.test(legalId)){
            $("#checkSpan").html('请输入正确的身份证号');
            return false;
        }
        if (province==""){
            $("#checkSpan").html('省份不能为空');
            return false;
        }
        if (city==""){
            $("#checkSpan").html('市不能为空');
            return false;
        }
        if (area==""){
            $("#checkSpan").html('区不能为空');
            return false;
        }
        if (address==""){
            $("#checkSpan").html('详细地址不能为空');
            return false;
        }
        if (scope==""){
            $("#checkSpan").html('经营范围不能为空');
            return false;
        }
        if (credit==""){
            $("#checkSpan").html('企业信誉度不能为空');
            return false;
        }
        if (message == "请认证身份"){
            if (license==""){
                $("#checkSpan").html('营业执照不能为空');
                return false;
            }
        }

        formData.append("type",type);
        formData.append("legalName",legalName);
        formData.append("legalId",legalId);
        formData.append("province",province);
        formData.append("city",city);
        formData.append("area",area);
        formData.append("address",address);
        formData.append("scope",scope);
        formData.append("credit",credit);
        formData.append("licTime",licTime);
        formData.append("file",file);

        if (message == "请认证身份"){
            $.ajax({
                url:'/company-detail/save',
                type:'post',
                data:formData,
                ache: false,//不缓存数据
                processData: false,//不转换数据
                contentType: false,
                dataType: "json",
                success:function (res) {
                    if(res){
                        $("#ModalContext").html('提交成功');
                        $("#MyModal").modal('show')
                    }else {
                        $("#ModalContext").html('提交失败');
                        $("#MyModal").modal('show')
                    }
                }
            })
        }

        if (message == "认证失败，请重新认证"){
            $.ajax({
                url:'/company-detail/modify',
                type:'post',
                data:formData,
                ache: false,//不缓存数据
                processData: false,//不转换数据
                contentType: false,
                dataType: "json",
                success:function (res) {
                    if(res){
                        $("#ModalContext").html('修改成功');
                        $("#MyModal").modal('show')
                    }else {
                        $("#ModalContext").html('修改失败');
                        $("#MyModal").modal('show')
                    }
                }
            })
        }
        return false;
    }
    /*回显图片*/
    function showPreview(source){
        $("#show").hide()
        let file = source.files[0];
        /*window.FileReader  web应用程序异步读取存储在用户计算机上的文件*/
        if(window.FileReader){
            let fr = new FileReader();
            console.log(fr);
            let protrait = document.getElementById('addimg');
            fr.onloadend = function (e){
                protrait.src = e.target.result;
            };
            fr.readAsDataURL(file);
            protrait.style.display = 'block';
        }
    }
    /*修改样式 禁用*/
    function disable() {
        $("#type").attr("disabled","disabled");
        $('#type').niceSelect('update');
        $("#legalName").attr("disabled","disabled");
        $("#legalId").attr("disabled","disabled");
        $("#select_address_province").attr("disabled","disabled");
        $("#select_address_city").attr("disabled","disabled");
        $("#select_address_area").attr("disabled","disabled");
        $('#select_address_province').niceSelect('update');
        $('#select_address_city').niceSelect('update');
        $('#select_address_area').niceSelect('update');
        $("#address").attr("disabled","disabled");
        $("#scope").attr("disabled","disabled");
        $("#credit").attr("disabled","disabled");
        $("#license").attr("disabled","disabled");
        $("#button").attr("disabled","disabled");
        $("#licTime").attr("disabled","disabled");

        $("#button").css("background-color","#cfcfcf");
    }
    /*修改样式 可用*/
    function able() {
        $("#type").removeAttr("disabled");
        $('#type').niceSelect('update');
        $("#legalName").removeAttr("disabled");
        $("#legalId").removeAttr("disabled");
        $("#select_address_province").removeAttr("disabled");
        $("#select_address_city").removeAttr("disabled");
        $("#select_address_area").removeAttr("disabled");
        $('#select_address_province').niceSelect('update');
        $('#select_address_city').niceSelect('update');
        $('#select_address_area').niceSelect('update');
        $("#address").removeAttr("disabled");
        $("#scope").removeAttr("disabled");
        $("#credit").removeAttr("disabled");
        $("#license").removeAttr("disabled");
        $("#button").removeAttr("disabled");
        $("#licTime").removeAttr("disabled");
        $("#button").css("background-color","#e73c3e");
    }
    /*省改变 重新获取下拉框*/
    $("#select_address_province").change(function () {
        let areaId = $(this).val()
        if (areaId == "")return;
        $.ajax({
            url:`/address/getCity/${areaId}`,
            type:'get',
            success:function (res) {
                if (res!=null){
                    $("#select_address_city").empty();
                    $('#select_address_city').niceSelect('update');
                    $("#select_address_area").empty();
                    $('#select_address_area').niceSelect('update');
                    let addressList = res.addressList
                    let childList = res.childList
                    for(let i = 0; i < addressList.length; i++){
                        let addressAreaId = addressList[i].addressAreaId
                        let addressName = addressList[i].addressName
                        $("#select_address_city").append("<option value='"+addressAreaId+"'>"+addressName+"</option>")
                        $('#select_address_city').niceSelect('update');
                    }
                    for(let j = 0; j < childList.length; j++){
                        let addressAreaId = childList[j].addressAreaId
                        let addressName = childList[j].addressName
                        $("#select_address_area").append("<option value='"+addressAreaId+"'>"+addressName+"</option>")
                        $('#select_address_area').niceSelect('update');
                    }
                }
            }
        })
    })
    /*市改变 重新获取下拉框*/
    $("#select_address_city").change(function () {
        let areaId = $(this).val()
        if (areaId == "")return;
        $.ajax({
            url:`/address/getCity/${areaId}`,
            type:'get',
            success:function (res) {
                if (res!=null){
                    $("#select_address_area").empty();
                    $('#select_address_area').niceSelect('update');
                    let addressList = res.addressList
                    let childList = res.childList
                    for(let i = 0; i < addressList.length; i++){
                        let addressAreaId = addressList[i].addressAreaId
                        let addressName = addressList[i].addressName
                        $("#select_address_area").append("<option value='"+addressAreaId+"'>"+addressName+"</option>")
                        $('#select_address_area').niceSelect('update');
                    }
                }
            }
        })
    })
</script>
