<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="common/head :: common_header(~{::title},~{::links},~{})">
    <title>人脸识别</title>
</head>

<body>
<!--引入navbar-->
<div th:include="common/navbar :: navbar"></div>

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>人脸验证</h2>
                    <ul>
                        <li><a th:href="@{/index.html}" href="index.html">首页</a></li>
                        <li>Sign Up</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Signup Area -->
<div class="signup-area ptb-100">
    <div class="container">
        <div class="signup-form">
            <h3>人脸识别</h3>
            <div class="row">


                <div class="col-lg-12">
                    <div id="regcoDiv">

                    </div>
                    <div>
                        <table frame="void">
                            <tr>
                                <div class="col-lg-12">
                                    <div class="send-btn">
                                        <button class="default-btn" title="人脸识别" value="人脸识别" onclick="getMedia2()">
                                            摄像头识别
                                            <span></span>
                                        </button>
                                    </div>
                                </div>
                            </tr>
                            </br>
                            <tr>
                                <div class="col-lg-12">
                                    <div class="send-btn">
                                        <button class="default-btn" id="snap" onclick="chooseFileChangeComp()">
                                            提交
                                            <span></span>
                                        </button>
                                    </div>
                                    <br>
                                    <span>还没有注册人脸? <a th:href="@{/face}" href="face.html">立即注册!</a></span>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        </form>
    </div>
</div>
</div>
<!-- End Signup Area -->

<!-- Start Footer Area -->
<section class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="#">
                            <img src="assets/img/logo2.png" alt="image">
                        </a>
                    </div>
                    <p>我今天做核酸了,什么酸,得不到你的心酸.</p>
                    <ul class="social">
                        <li>
                            <b>联系我们:</b>
                        </li>

                        <li>
                            <a href="#" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Quick Links</h3>

                    <ul class="quick-links">
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="#">Our Performance</a>
                        </li>
                        <li>
                            <a href="faq.html">Help (FAQ)</a>
                        </li>
                        <li>
                            <a href="news.html">Blog</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>Other Resources</h3>

                    <ul class="quick-links">
                        <li>
                            <a href="#">Support</a>
                        </li>
                        <li>
                            <a href="privacy-policy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="terms-condition.html">Terms of Service</a>
                        </li>
                        <li>
                            <a href="#">Business Loans</a>
                        </li>
                        <li>
                            <a href="#">Loan Services</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-footer-widget">
                    <h3>联系我们</h3>

                    <div class="info-contact">
                        <i class="flaticon-pin"></i>
                        <span>苍盐海大街250号</span>
                    </div>

                    <div class="info-contact">
                        <i class="flaticon-mail"></i>
                        <span>
                                    <a href="mailto:Cyh@finix.com">Cyh@finix.com</a>
                                </span>
                    </div>

                    <div class="info-contact">
                        <i class="flaticon-telephone"></i>
                        <span>
                                    <a href="tel:2504312-6688">+1 (250) 312-5678</a>
                                </span>
                        <span>
                                    <a href="tel:2504312-6688">+1 (250) 312-6688</a>
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-content">
            <p>
                &copy;版权和副本:2022苍盐海 版权所有.
            </p>
        </div>
    </div>
</div>
<!-- End Copy Right Area -->

<!-- Start Go Top Area -->
<div class="go-top">
    <i class='bx bx-chevron-up'></i>
</div>
<!-- End Go Top Area -->


<!--弹框start-->
<div class="modal fade" id="MyModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">提示</h4>
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
            </div>
            <div class="modal-body">
                <p id="ModalContext">内容</p>
            </div>
            <div class="modal-footer">
                <button onclick="location.href=('/index')" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>


<!-- Jquery Slim JS -->
<script th:src="@{/assets/js/jquery.min.js}" src="assets/js/jquery.min.js"></script>
<!-- Popper JS -->
<script th:src="@{/assets/js/popper.min.js}" src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script th:src="@{/assets/js/bootstrap.min.js}" src="assets/js/bootstrap.min.js"></script>
<!-- Meanmenu JS -->
<script th:src="@{/assets/js/jquery.meanmenu.js}" src="assets/js/jquery.meanmenu.js"></script>
<!-- Carousel JS -->
<script th:src="@{/assets/js/owl.carousel.min.js}" src="assets/js/owl.carousel.min.js"></script>
<!-- Nice Select JS -->
<script th:src="@{/assets/js/jquery.nice-select.min.js}" src="assets/js/jquery.nice-select.min.js"></script>
<!-- Magnific Popup JS -->
<script th:src="@{/assets/js/jquery.magnific-popup.min.js}" src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Odometer JS -->
<script th:src="@{/assets/js/odometer.min.js}" src="assets/js/odometer.min.js"></script>
<!-- Appear JS -->
<script th:src="@{/assets/js/jquery.appear.js}" src="assets/js/jquery.appear.js"></script>
<!-- Form Ajaxchimp JS -->
<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}" src="assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script th:src="@{/assets/js/form-validator.min.js}" src="assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script th:src="@{/assets/js/contact-form-script.js}" src="assets/js/contact-form-script.js"></script>
<!-- Wow JS -->
<script th:src="@{/assets/js/wow.min.js}" src="assets/js/wow.min.js"></script>
<!-- Custom JS -->
<script th:src="@{/assets/js/main.js}" src="assets/js/main.js"></script>
</body>
</html>
<script>
    function chooseFile() {
        $("#file1").trigger('click');
    }


    $(document).on("change", "#file1", function () {
        var objUrl = getObjectURL(this.files[0]);//获取文件信息
        console.log("objUrl = " + objUrl);
        if (objUrl) {
            $("#img0").attr("src", objUrl);
        }
    });

    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) {
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

    $("#imageDivComp").click(function () {
        $("#chooseFileComp").click();

    });

    function getMedia2() {
        $("#regcoDiv").empty();
        let vedioComp = "<video id='video2' width='500px' height='500px' autoplay='autoplay' style='margin-top: 20px'></video><canvas id='canvas2' width='500px' height='500px' style='display: none'></canvas>";
        $("#regcoDiv").append(vedioComp);
        let constraints = {
            video: {width: 500, height: 500},
            audio: true
        };
        //获得video摄像头区域
        let video = document.getElementById("video2");
        //这里介绍新的方法，返回一个 Promise对象
        // 这个Promise对象返回成功后的回调函数带一个 MediaStream 对象作为其参数
        // then()是Promise对象里的方法
        // then()方法是异步执行，当then()前的方法执行完后再执行then()内部的程序
        // 避免数据没有获取到
        let promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then(function (MediaStream) {
            video.srcObject = MediaStream;
            video.play();
        });
        // var t1 = window.setTimeout(function() {
        //     chooseFileChangeComp()
        // },2000)
    }

    function chooseFileChangeComp() {
        let regcoDivComp = $("#regcoDiv");
        if (regcoDivComp.has('video').length) {
            let video = document.getElementById("video2");
            let canvas = document.getElementById("canvas2");
            let ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, 500, 500);
            var base64File = canvas.toDataURL();
            var formData = new FormData();
            formData.append("groupId", "101")
            formData.append("file", base64File);

            $.ajax({
                type: "post",
                url: "/faceSearch",
                data: formData,
                contentType: false,
                processData: false,
                async: false,
                success: function (text) {
                    var res = JSON.stringify(text)
                    if (text.code == 0) {
                        var name = text.data.name;
                        $("#nameDiv").html("姓名：" + name);
                        var similar = text.data.similarValue;
                        $("#similarDiv").html("相似度：" + similar + "%");
                        var age = text.data.age;
                        $("#ageDiv").html("年龄：" + age);
                        var gender = text.data.gender;
                        $("#genderDiv").html("性别：" + gender);
                        // img.css("background-image", 'url(' + text.data.image + ')');
                        alert("姓名：" + name + "\n相似度：" + similar + "%" + "\n年龄：" + age + "\n性别：" + gender);
                        /*window.location.href="test.html"*/
                    } else {
                        $("#nameDiv").html("");
                        $("#similarDiv").html("");
                        $("#ageDiv").html("");
                        $("#genderDiv").html("");
                        alert("人脸不匹配")
                    }

                },
                error: function (error) {
                    $("#nameDiv").html("");
                    $("#similarDiv").html("");
                    $("#ageDiv").html("");
                    $("#genderDiv").html("");
                    alert(JSON.stringify(error))
                }
            });
        }
    }


</script>
