<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::links},~{})">
    <title>计算结果</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>
                        期数
                    </th>
                    <th>
                        月供
                    </th>
                    <th>
                        月供本金
                    </th>
                    <th>
                        月供利息
                    </th>
                </tr>
                </thead>
                <tbody id="core">
                <tr th:each="item,index:${data.detail}">
                    <td >
                        [[${index.count}]]
                    </td>
                    <td>
                        [[${item[2]}]]
                    </td>
                    <td>
                        [[${item[0]}]]
                    </td>
                    <td>
                        [[${item[1]}]]
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <span>还款方式: </span><span th:text="${data.type}=='de'?'等额本息还款':'等额本金还款'">等额本息还款</span>
                </div>
                <div class="col-md-4 column">
                    <span>还款总额: </span><span th:text="${data.totalMoney}">111</span>
                </div>
                <div class="col-md-4 column">
                    <span>利息总额: </span><span th:text="${data.totalInterests}">111</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
