<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::links},~{})">
    <title>还款</title>
</head>

    <body>
    <!--引入navbar-->
    <div th:include="common/navbar :: navbar"></div>

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>还款</h2>
                            <ul>
                                <li><a th:href="@{/}">首页</a></li>
                                <li>还款</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- End Table Area -->
        <section class="table-area pb-100">
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th class="text-left">
                                期数
                            </th>
                            <th class="text-left">
                                月供
                            </th>
                            <th class="text-left">
                                月供本金
                            </th>
                            <th class="text-left">
                                月供利息
                            </th>
                            <th class="text-left">
                                还款截止时间
                            </th>
                            <th class="text-left">
                                实际还款时间
                            </th>
                            <th class="text-left">
                                逾期金额
                            </th>
                            <th class="text-left">
                                状态
                            </th>
                            <th class="text-left">
                                操作
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,index:${periodizationList}">
                            <td >
                                [[${item.periods}]]
                            </td>
                            <td>
                                [[${item.ci}]]
                            </td>
                            <td>
                                [[${item.capital}]]
                            </td>
                            <td>
                                [[${item.interest}]]
                            </td>
                            <td>
                                <span th:text="${#dates.format(item.originallyTime, 'yyyy-MM-dd HH:mm')}"></span>
                            </td>
                            <td>
                                <span th:text="${#dates.format(item.repaymentTime, 'yyyy-MM-dd HH:mm')}"></span>
                            </td>
                            <td>
                                <span th:if="${item.overdueMoney}!=null">[[${item.overdueMoney}]]</span>
                                <span th:if="${item.overdueMoney}==null">未逾期</span>
                            </td>
                            <td>
                                <!--还款状态  0待还款 1已还款 2逾期 -->
                                <span th:if="${item.status}==0">待还款</span>
                                <span th:if="${item.status}==1">已还款</span>
                                <span th:if="${item.status}==2">逾期</span>
                            </td>
                            <td>
                                <button th:if="${item.status}==2" type="button"
                                        th:onclick="payOverdue([[${item.id}]],[[${item.ci}]])">逾期还款</button>
                                <button th:if="${item.status}==0" type="button"
                                        th:onclick="checkTime([[${item.id}]],[[${item.ci}]])">还款</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row clearfix">
                        <div class="col-md-4 column">
                            <span>还款方式: </span><span th:text="${loanInfo?.returnMethod}==1?'等额本息还款':'等额本金还款'">11</span>
                        </div>
                        <div class="col-md-4 column">
                            <span>还款总额: </span><span th:text="${totalMoney}">111</span>
                        </div>
                        <div class="col-md-4 column">
                            <span>利息总额: </span><span th:text="${totalInterests}">111</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Table Area -->

        <!-- Start Footer Area -->
        <section class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <a href="#">
                                    <img src="assets/img/logo2.png" alt="image">
                                </a>
                            </div>
                            <p>我今天做核酸了,什么酸,得不到你的心酸.</p>
                            <ul class="social">
                                <li>
                                    <b>联系我们:</b>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Quick Links</h3>

                            <ul class="quick-links">
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="#">Our Performance</a>
                                </li>
                                <li>
                                    <a href="faq.html">Help (FAQ)</a>
                                </li>
                                <li>
                                    <a href="news.html">Blog</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Other Resources</h3>

                            <ul class="quick-links">
                                <li>
                                    <a href="#">Support</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-condition.html">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="#">Business Loans</a>
                                </li>
                                <li>
                                    <a href="#">Loan Services</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>联系我们</h3>

                            <div class="info-contact">
                                <i class="flaticon-pin"></i>
                                <span>苍盐海大街250号</span>
                            </div>

                            <div class="info-contact">
                                <i class="flaticon-mail"></i>
                                <span>
                                    <a href="mailto:Cyh@finix.com">Cyh@finix.com</a>
                                </span>
                            </div>

                            <div class="info-contact">
                                <i class="flaticon-telephone"></i>
                                <span>
                                    <a href="tel:2504312-6688">+1 (250) 312-5678</a>
                                </span>
                                <span>
                                    <a href="tel:2504312-6688">+1 (250) 312-6688</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer Area -->

        <!-- Start Copy Right Area -->
        <div class="copy-right-area">
            <div class="container">
                <div class="copy-right-content">
                    <p>
                        &copy;版权和副本:2022苍盐海 版权所有.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='bx bx-chevron-up'></i>
        </div>
        <!-- End Go Top Area -->


    <!--弹框start-->
    <div class="modal fade" id="MyModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                </div>
                <div class="modal-body">
                    <p id="ModalContext">内容</p>
                </div>
                <div class="modal-footer">
                    <button onclick="location.reload()" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--弹框end-->

    <!-- Jquery Slim JS -->
    <script src="assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
    <!-- Popper JS -->
    <script src="assets/js/popper.min.js" th:src="@{/assets/js/popper.min.js}"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Meanmenu JS -->
    <script src="assets/js/jquery.meanmenu.js" th:src="@{/assets/js/jquery.meanmenu.js}"></script>
    <!-- Carousel JS -->
    <script src="assets/js/owl.carousel.min.js" th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <!-- Nice Select JS -->
    <script src="assets/js/jquery.nice-select.min.js" th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
    <!-- Magnific Popup JS -->
    <script src="assets/js/jquery.magnific-popup.min.js" th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
    <!-- Odometer JS -->
    <script src="assets/js/odometer.min.js" th:src="@{/assets/js/odometer.min.js}"></script>
    <!-- Appear JS -->
    <script src="assets/js/jquery.appear.js" th:src="@{/assets/js/jquery.appear.js}"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="assets/js/jquery.ajaxchimp.min.js" th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
    <!-- Form Validator JS -->
    <script src="assets/js/form-validator.min.js" th:src="@{/assets/js/form-validator.min.js}"></script>
    <!-- Contact JS -->
    <script src="assets/js/contact-form-script.js" th:src="@{/assets/js/contact-form-script.js}"></script>
    <!-- Wow JS -->
    <script src="assets/js/wow.min.js" th:src="@{/assets/js/wow.min.js}"></script>
    <!-- Custom JS -->
    <script src="assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
    </body>
</html>
<style>
    .pagination {
        display: block;
        margin: 50px 0 0;
        padding: 0;
    }
    .pagination.grid {
        margin-top: 20px;
    }
    .pagination .page-numbers {
        display: inline-block;
        width: 42px;
        height: 42px;
        line-height: 39px;
        text-align: center;
        border: 1px solid #F1F1F1;
        font-size: 16px;
        color: #888;
        font-weight: 500;
        margin-left: 5px;
        border-radius: 0;
    }
    .pagination .page-numbers:first-child {
        margin-left: 0;
    }
    .pagination .page-numbers.current, .pagination .page-numbers:hover {
        color: #fff;
        border-color: transparent;
        background-color: #65a15a;
    }
    .pagination .page-numbers .icon {
        font-weight: 700;
    }
    .pagination.style1 {
        text-align: right;
    }
    .pagination.style2 {
        text-align: center;
    }
    .shop-grid-content .pagination {
        margin-top: 10px;
    }
    .content-inlookbook .pagination {
        margin-top: 10px;
        margin-bottom: 60px
    }
    .main-content-blog.mansory .pagination {
        margin-top: 10px;
    }
</style>
<script>
    /*判断是否在还款时间内*/
    function checkTime(pId,ci){
        $.ajax({
            url:`/periodization/isBetween/${pId}`,
            type:'get',
            success:function (res){
                if(res){
                    //在还款时间内 跳转到还款页面
                    location.href=`/alipay/pay?subject=${pId}&traceNo=${pId}&totalAmount=${ci}`
                }else {
                    $("#ModalContext").html('还未到还款时间，还款截止时间前三天可以开始还款')
                    $("#MyModal").modal('show')
                }
            }
        })
    }
    function payOverdue(pId,ci) {
        location.href=`/alipay/pay?subject=${pId}&traceNo=${pId}&totalAmount=${ci}`
    }
</script>
