<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: common_header(~{::title},~{::links},~{})">
    <title>sign-up</title>
</head>

    <body>

    <!--引入navbar-->
    <div th:include="common/navbar :: navbar"></div>
        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>立即注册</h2>
                            <ul>
                                <li><a th:href="@{/}" href="index.html">首页</a></li>
                                <li>立即注册</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Signup Area -->
        <div class="signup-area ptb-100">
            <div class="container">
                <div class="signup-form">
                    <h3>创建您的账户</h3>
                    <form onsubmit="return check()" id="formRegister" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input id="cNo" name="cNo" type="text" class="form-control" placeholder="请输入企业统一编号">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input id="name" name="name" type="text" class="form-control" placeholder="请输入企业名称">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input id="phone" name="phone" type="text" class="form-control" placeholder="请输入企业电话">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input id="email" name="email" type="email" class="form-control" placeholder="请输入企业邮箱">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input id="password" name="password" type="password" class="form-control" placeholder="请输入密码">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="send-btn">
                                    <button type="button" class="default-btn" title="摄像头注册" value="摄像头注册" onclick="getMedia()">
                                        摄像头注册
                                        <span></span>
                                    </button>
                                </div>
                            </div>

                            <!--图像显示区域-->
                            <div id="mainDiv">
                            </div>

                            <div class="col-lg-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="agree" name="agree">
                                    <label class="form-check-label" for="agree">同意条款</label>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <span id="checkSpan" style="color: #ff0000"></span>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="send-btn">
                                    <button type="submit" class="default-btn">
                                        立即注册
                                        <span></span>
                                    </button>
                                </div>
                                <br>
                                <span>已经有账号了? <a th:href="@{/signIn}" href="sign-in.html">前往登录!</a></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Signup Area -->

        <!-- Start Footer Area -->
        <section class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <a href="#">
                                    <img src="assets/img/logo2.png" alt="image">
                                </a>
                            </div>
                            <p>我今天做核酸了,什么酸,得不到你的心酸.</p>
                            <ul class="social">
                                <li>
                                    <b>联系我们:</b>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-instagram"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" target="_blank">
                                        <i class="flaticon-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Quick Links</h3>

                            <ul class="quick-links">
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="#">Our Performance</a>
                                </li>
                                <li>
                                    <a href="faq.html">Help (FAQ)</a>
                                </li>
                                <li>
                                    <a href="news.html">Blog</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>Other Resources</h3>

                            <ul class="quick-links">
                                <li>
                                    <a href="#">Support</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-condition.html">Terms of Service</a>
                                </li>
                                <li>
                                    <a href="#">Business Loans</a>
                                </li>
                                <li>
                                    <a href="#">Loan Services</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-footer-widget">
                            <h3>联系我们</h3>

                            <div class="info-contact">
                                <i class="flaticon-pin"></i>
                                <span>苍盐海大街250号</span>
                            </div>

                            <div class="info-contact">
                                <i class="flaticon-mail"></i>
                                <span>
                                    <a href="mailto:Cyh@finix.com">Cyh@finix.com</a>
                                </span>
                            </div>

                            <div class="info-contact">
                                <i class="flaticon-telephone"></i>
                                <span>
                                    <a href="tel:2504312-6688">+1 (250) 312-5678</a>
                                </span>
                                <span>
                                    <a href="tel:2504312-6688">+1 (250) 312-6688</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer Area -->

        <!-- Start Copy Right Area -->
        <div class="copy-right-area">
            <div class="container">
                <div class="copy-right-content">
                    <p>
                        &copy;版权和副本:2022苍盐海 版权所有.
                    </p>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='bx bx-chevron-up'></i>
        </div>
        <!-- End Go Top Area -->

    <!--弹框start-->
    <div class="modal fade" id="MyModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                </div>
                <div class="modal-body">
                    <p id="ModalContext">内容</p>
                </div>
                <div class="modal-footer">
                    <button onclick="location.href='/signIn'" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--弹框end-->

        <!-- Jquery Slim JS -->
        <script th:src="@{/assets/js/jquery.min.js}" src="assets/js/jquery.min.js"></script>
        <!-- Popper JS -->
        <script th:src="@{/assets/js/popper.min.js}" src="assets/js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script th:src="@{/assets/js/bootstrap.min.js}" src="assets/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
        <script th:src="@{/assets/js/jquery.meanmenu.js}" src="assets/js/jquery.meanmenu.js"></script>
        <!-- Carousel JS -->
        <script th:src="@{/assets/js/owl.carousel.min.js}" src="assets/js/owl.carousel.min.js"></script>
        <!-- Nice Select JS -->
        <script th:src="@{/assets/js/jquery.nice-select.min.js}" src="assets/js/jquery.nice-select.min.js"></script>
        <!-- Magnific Popup JS -->
        <script th:src="@{/assets/js/jquery.magnific-popup.min.js}" src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Odometer JS -->
        <script th:src="@{/assets/js/odometer.min.js}" src="assets/js/odometer.min.js"></script>
        <!-- Appear JS -->
        <script th:src="@{/assets/js/jquery.appear.js}" src="assets/js/jquery.appear.js"></script>
        <!-- Form Ajaxchimp JS -->
		<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}" src="assets/js/jquery.ajaxchimp.min.js"></script>
		<!-- Form Validator JS -->
		<script th:src="@{/assets/js/form-validator.min.js}" src="assets/js/form-validator.min.js"></script>
		<!-- Contact JS -->
        <script th:src="@{/assets/js/contact-form-script.js}" src="assets/js/contact-form-script.js"></script>
        <!-- Wow JS -->
		<script th:src="@{/assets/js/wow.min.js}" src="assets/js/wow.min.js"></script>
        <!-- Custom JS -->
        <script th:src="@{/assets/js/main.js}" src="assets/js/main.js"></script>
    </body>
</html>
<script>
    /*校验是否重复*/
    $(function () {
        $("#cNo").blur(function () {
            let cno = $("#cNo").val()
            if (cno!=""){
                $.ajax({
                    url:'/company/checkCno',
                    type:'get',
                    data: {
                        "cNo":cno
                    },
                    success:function (res) {
                        if(!res){
                            $("#checkSpan").html('企业编号已存在，请直接登录');
                        }else {
                            $("#checkSpan").html('');
                        }
                    }
                })
            }
        })
        $("#name").blur(function () {
            let name = $("#name").val()
            if (name!=""){
                $.ajax({
                    url:'/company/checkName',
                    type:'get',
                    data: {
                        "name":name
                    },
                    success:function (res) {
                        if(!res){
                            $("#checkSpan").html('企业名称已存在');
                        }else {
                            $("#checkSpan").html('');
                        }
                    }
                })
            }
        })
        $("#phone").blur(function () {
            let phone = $("#phone").val()
            let expression = /^1[34578][0-9]{9}$/
            if (!expression.test(phone)){
                $("#checkSpan").html('请输入正确的手机号');
                return;
            }else {
                $("#checkSpan").html('');
            }
            if (phone!=""){
                $.ajax({
                    url:'/company/checkPhone',
                    type:'get',
                    data: {
                        "phone":phone
                    },
                    success:function (res) {
                        if(!res){
                            $("#checkSpan").html('手机号已存在');
                        }else {
                            $("#checkSpan").html('');
                        }
                    }
                })
            }
        })
        $("#email").blur(function () {
            let email = $("#email").val()
            let expression = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/
            if (!expression.test(email)){
                $("#checkSpan").html('请输入正确的邮箱');
                return;
            }else {
                $("#checkSpan").html('');
            }
            if (email!=""){
                $.ajax({
                    url:'/company/checkEmail',
                    type:'get',
                    data: {
                        "email":email
                    },
                    success:function (res) {
                        if(!res){
                            $("#checkSpan").html('邮箱已存在');
                        }else {
                            $("#checkSpan").html('');
                        }
                    }
                })
            }
        })
    })

    /*非空判断 提交表单*/
    function check() {
        let cno = $("#cNo").val()
        let name = $("#name").val()
        let password = $("#password").val()
        let email = $("#email").val()
        let phone = $("#phone").val()
        let agree = $('#agree').prop('checked')
        if (cno==""){
            $("#checkSpan").html('企业统一编号不能为空');
            return false;
        }
        if (name==""){
            $("#checkSpan").html('企业名称不能为空');
            return false;
        }
        if (password==""){
            $("#checkSpan").html('密码不能为空');
            return false;
        }
        if (email==""){
            $("#checkSpan").html('企业邮箱不能为空');
            return false;
        }
        if (phone==""){
            $("#checkSpan").html('企业电话不能为空');
            return false;
        }
        if (agree==false){
            $("#checkSpan").html('请勾选同意条款');
            return false;
        }
        $("#checkSpan").html('');
        //将表单转化为json字符串传递
        /*let form = $("#formRegister").serializeArray();
        let obj = {};//分配内存空间
        for (let i = 0; i < form.length; i++) {
            obj[form[i].name] = form[i].value;
        }*/
        let mainComp = $("#mainDiv");
        if (mainComp.has('video').length) {
            //获得Canvas对象
            let video = document.getElementById("video");
            let canvas = document.getElementById("canvas");
            let ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, 500, 500);
            var formData = new FormData();
            var base64File = canvas.toDataURL();
            formData.append("file", base64File);
            formData.append("groupId", "101");

            formData.append("cNo",cno);
            formData.append("name",name);
            formData.append("password",password);
            formData.append("email",email);
            formData.append("phone",phone);
            console.log(formData)
            $.ajax({
                type: "post",
                url: "/register",
                data: formData,
                contentType: false,
                processData: false,
                async: false,
                dataType: "json",
                success: function (text) {
                    var res = JSON.stringify(text)
                    if (text.code == 0) {
                        $("#ModalContext").html('注册成功，前往登录');
                        $("#MyModal").modal('show')
                    } else {
                        alert(text.message)
                    }
                },
                error: function (error) {
                    console.log(error)
                    alert(JSON.stringify(error))
                }
            });
        } else {
            $("#checkSpan").html('请进行摄像头注册');
        }
      /*  $.ajax({
            url:'/company/register',
            type:'post',
            data:obj,
            success:function (res) {
                if (res){
                    $("#checkSpan").html('注册成功,请登录');
                    setTimeout(function() { window.location.href = "/signIn"; }, 1000 );
                }else {
                    $("#checkSpan").html('注册失败');
                    $("#formRegister")[0].reset()
                }
            }
        })*/
        return false;
    }

    /*获得图像*/
    function getMedia() {
        $("#mainDiv").empty();
        let videoComp = " <video id='video' width='500px' height='500px' autoplay='autoplay' style='margin-top: 20px'></video><canvas id='canvas' width='500px' height='500px' style='display: none'></canvas>";
        $("#mainDiv").append(videoComp);

        let constraints = {
            video: {width: 500, height: 500},
            audio: true
        };
        //获得video摄像头区域
        let video = document.getElementById("video");
        //这里介绍新的方法，返回一个 Promise对象
        // 这个Promise对象返回成功后的回调函数带一个 MediaStream 对象作为其参数
        // then()是Promise对象里的方法
        // then()方法是异步执行，当then()前的方法执行完后再执行then()内部的程序
        // 避免数据没有获取到
        let promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then(function (MediaStream) {
            video.srcObject = MediaStream;
            video.play();
        });

        // var t1 = window.setTimeout(function() {
        //     takePhoto();
        // },2000)
    }
</script>
