<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pad.mapper.CompanyDetailMapper">

    <select id="selectByFK" resultType="com.pad.entity.CompanyDetail">
        select *
        from company_detail d
                 left join company_info i  on d.c_no=i.c_no
        where i.c_no=#{cNo,jdbcType=VARCHAR}
    </select>
</mapper>
