<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pad.mapper.LoanInfoMapper">
    <update id="updateComplete">
        update loan_info l,company_material c
            set l.is_deleted=0,c.is_deleted=0
            where l.id=#{id} and c.c_no=l.c_no
    </update>

    <!--根据企业编号 查询贷款信息-->
    <select id="findBy" parameterType="String" resultType="loanInfo">
        select l.*,b.bank_name from loan_info l
        left join bank b on l.bank_no = b.bank_no
        where c_no=#{param2}
    </select>

    <select id="getStatus" resultType="java.lang.Integer">
        select status
        from loan_info
        where c_no=#{cNo,jdbcType=VARCHAR} and is_deleted=1
    </select>
</mapper>
